@model ChuDe
@{
    ViewData["Title"] = "Chủ đề " + Model.TenChuDe;
}

<div class="container">
    <div class="row">
        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
            <img src="@Url.Content(Model.HinhAnh)" style="width:100%;margin-top:128px;" alt="Hình chủ đề" />
        </div>
        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
            <div class="content" style="text-align: center; margin-top: 50%">
                <a asp-action="@nameof(HomeController.TracNghiem)" asp-route-id="@Model.IdChude">Học từ ngay</a>
                <h1 class="display-4">Chọn cấp độ</h1>
            </div>
        </div>
    </div>

</div>