@model List<ChuDe>
@{
    ViewData["Title"] = "Chủ đề học tập";
}

<div class="container mt-3 mb-4" style="text-align:center">
    <h1 class="mb-4 display-4">Chọn nhóm từ vựng theo chủ đề</h1>
    <div class="content">
        <div class="row">
            @foreach (var chuDe in Model)
            {
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <div class="card mt-2" style="width: 100%;">
                        <img class="card-img-top" src="@Url.Content(chuDe.HinhAnh)" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">@chuDe.TenChuDe</h5>
                            <a asp-action="Learn" asp-route-id="@chuDe.IdChude" asp-route-name="@chuDe.TenChuDe.ToUrlFriendly()" class="btn btn-primary">Học ngay</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>